{% extends "cadastro/template.html" %}
{% load crispy_forms_tags %}

{% block head %}
    <title>Registro</title>
{% endblock %}

{% block content %}
    <!--Informações para cadastro-->
    <div id="back" class="d-md-flex flex-row align-items-center justify-content-between">
        <div class="m-5" id="register-container">
            <h1>Cadastro</h1>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="Cadastrar">
            </form>
        </div>
        
        <div class="m-5" id="login-container">
            <h1>Login</h1>
            <form method="POST" class="post-form">{% csrf_token %} <!--formulário que pede as informações para o login-->
                <div class="mb-3">
                    <label for="email2" class="form-label">E-mail</label> 
                    <input required class="form-control" type="email" name="email" id="email2" placeholder="nome@email.com">
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">Senha</label>
                    <input required class="form-control" type="password" name="password" id="password2" placeholder="Digite a sua senha">
                    <a href="#" onClick="JavaScript:Alert()" id="forgot-pass">Esqueceu a sua senha?</a>
                </div>
                    <input class="btn btn-primary" type="submit" value="Login">
            </form>
        </div>
    </div>
    <script>
        function Alert() {
            alert('Que pena, boa sorte pra lembrar!');
        }
    </script>
{% endblock %}