{% extends "trabalho/template.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <title>Trabalho - Dominique</title>
{% endblock %}

{% block content %}
    <h2><a href="{% url 'inicio_trabalho' %}">Voltar à lista de trabalhos<a></h2>
    <section class="bg-dark text-light p-5 text-center mt-5">
        <div class="container">
            <div class="row align-items-center justify-content-around">
                <div class="col-md-6 col-lg-6">
                    <h1>Quais os Maiores Negócios do Hostess?</h1>
                    <p class="lead my-3">Analisando a tabela de usuários (user_customuser), que possue o business_id como chave estrangeira, é possível visualizar os negócios com maior número de funcionários cadastrados. O gráfico de barras ao lado mostra os 10 maiores negócios com relação ao número de seus colaboradores.</p>
                </div>
                <div class="col-md-6 col-lg-6">
                    {{ plot|safe }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}