$favorite-color: #0E163C;
$font-stack: Arial, Helvetica, sans-serif;

%no-decoration {
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
}

* {
    /* color: $favorite-color; */
    font-family: $font-stack;
}

body {
    padding-top: 72px;
}

.size-small {
    width: 40%;
}

.huge {
    font-size: 100px;
}

.card-custom {
    position: relative;
    height: 280px;
}

#estoque {
    margin: 0 0.5% 0 0.5%;
    width: 99%;
}

#carousel {
    height: 600px;
}

#logo {
    height: 40px;
    width: 180px;
    padding: 0;
    margin-left: 30px;
    margin-right: 30px;
}

#confirm {
    z-index: 5;
}

@media screen and (min-width: 1200px) {
    #carousel {
      width: 75%;
    }
}

@media screen and (max-width: 1200px) {
    #carousel {
      width: 100%;
      height: 75%;
    }
}

@media screen and (min-width: 992px) {
    body {
        padding-top: 76px;
    }
}

h2 {
    @extend %no-decoration;
}

h3 {
    a {
        text-decoration: none;
        color: #adb5bd;
    }
    a:hover {
        color: white;
    }
}

.imagens {
    padding: 10px;
    background-color: rgba(123,127,131,0.5);
}

.toast{
    position: absolute;
    right: 10px;
    bottom: 10px;
}