//Cores e fontes Site:
$favorite-color: #0E163C;
$font-stack: Arial, Helvetica, sans-serif;
$graph_color: rgba(168, 168, 168, 0.767);
$light_gray:rgba(169, 169, 169, 0.877);
$gray: gray;
$theme_purple:#6c63ff;
$white: #f0f0f0;
/* 576, 768, 992, 1200 */

* {
    font-family: $font-stack;
}

//Importando codigos do arquivo _agendastyle.scss
@import 'agendastyle';

#main {
    padding-top: 72px;
}

.size-small {
    width: 40%;
}

.huge {
    font-size: 100px;
}

.card-custom {
    position: relative;
    height: 280px;
}

.imagens {
    padding: 10px;
    background-color: $graph_color;
}

#estoque {
    margin: 0 0.5% 0 0.5%;
    width: 99%;
}

#colab {
    margin: 0 2% 0 2%;
    width: 96%;
}

#carousel {
    height: 600px;
}

#logo {
    height: 40px;
    width: 180px;
    padding: 0;
    margin-left: 30px;
    margin-right: 30px;
}

#link {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-right: 30px;
}

#borda {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

@media screen and (min-width: 992px) {
    #top {
    background: url("imagens/schedule.svg") no-repeat fixed center;
    background-size: 25%
    }
}

@media screen and (min-width: 1200px) {
    #carousel {
      width: 75%;
    }
}

@media screen and (max-width: 1200px) {
    #carousel {
      width: 100%;
      height: 75%;
    }
    #estoque {
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-width: 992px) {
    #main {
        padding-top: 76px;
    }
}

h2 {
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
}

h3 {
    a {
        text-decoration: none;
        color: $light_gray;
    }
    a:hover {
        color: $white;
    }
}