* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
}

body {
    background-color: grey /*define a cor de fundo */
}

textarea:focus, input:focus {
    outline: none; /*nao fica preto ao selecionar os espaços */
}

a{
    font-size: .8rem;  /*18*.8=x*/ 
}

/*a:hover {
    color: rgb(5, 83, 31)
}*/

/*container login*/

#login-container{
    background-color: white;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 30px; /*afasta os elementos da borda*/
    margin-top: 10vh; /*distancia de 10% do começo da tela*/
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;

}

/*container registro*/
#register-container{
    background-color: white;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 30px; /*afasta os elementos da borda*/
    text-align: center;   
    margin-top: 10vh;
    margin-bottom: 50px; 
    border-radius: 10px;
}

/*formulario*/
form{
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input{
    display:block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
}

input{
    border-bottom: 2px solid black
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

#forgot-pass {
    text-align: right;
    display: block;
}

input[type="submit"] {
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    background-color: grey
}

input[type="submit"]:hover {
    background-color: rgb(12, 100, 27) ;
    transition: .5s;


}