$favorite-color: #0E163C;
$font-stack: Arial, Helvetica, sans-serif;

%no-decoration {
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
}

* {
    /* color: $favorite-color; */
    font-family: $font-stack;
}

.size-small {
    width: 40%;
}

.huge {
    font-size: 100px;
}

.card-custom {
    position: relative;
    height: 250px;
}

h2 {
    @extend %no-decoration;
}

h3 {
    a {
        text-decoration: none;
        color: #adb5bd;
    }
    a:hover {
        color: white;
    }
}

#estoque {
    margin: 0 0.5% 0 0.5%;
    width: 99%;
}

#carousel {
    height: 600px;
}

#logo {
    height: 83px;
    width: 160px;
}

#header {
    height: 80px;
}