//Cores Principais Site:
    $darkblack: #0D0B0B;
    $gray: #241F1E;
    $darkgray: #181a1b;
    $silver: #D4CFCD;
    $shinyorange: #D14707;
    $maybebrown: #4A1600;


//Importando o modulo .scss com as configurações css da pagina agenda
    @import 'agendastyle';



//Configurações gerais
*{
    margin:2;
    padding:2;
    box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: $darkgray;
    width: 100%;
}

body{
    width: 100%;
}

h1 {
    font-family: verdana;
    text-align:center; 
    background-color: $maybebrown; 
    padding: 1.5%; 
    margin-top: 3%; 
    color:$silver
}


//Configurações da barra de navegação
.navegation{
    width: 100%;
    background-color: $darkblack;
}


.center{
    display: flex;
    flex-wrap:wrap;
    max-width: 100%;
    
    padding:0 2%;
}
 
header{
    padding:1% 0;

}


.menu{
    width: 60%;
    text-align: left;
    margin: 0 auto;
    margin-top: 60px;
    margin-left: 300px;
}

.menu a{
    color: $silver;
    text-decoration:none;
    font-weight: bold;
    margin-right: 40px;
}

.menu:after{
    content: ' ';
display: block;
width: 100%;
height: 2px;
margin-top: 10px;
background: -webkit-linear-gradient(left, $darkgray 0%,$maybebrown 15%,$shinyorange 53%,$maybebrown 85%,$darkgray 100%);
background: linear-gradient(left, $darkgray 0%,$maybebrown 15%,$shinyorange 53%,$maybebrown 85%,$darkgray 100%);
}

.logo{
    width: 20%;
    margin-top:0;
}

.logo_imagem{
    width:30%;
    margin-left: 100px;
}

.button1 {
    background-color: #dbdbdb;
    width:19.75%;
    border: none;
    color: rgb(104, 104, 104);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    }

    .button1 {
    transition-duration: 0.4s;
    }

    .button1:hover {
    background-color: #ababab; /* Green */
    color: white;
    }
    