{% extends "client/template.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <title>Agendamento</title>
{% endblock %}

{% block content %}
    <div id="main-container" class="m-5"> <!--conteiner com as informações de agendamento-->
        <h1>Agendamento</h1>
        <form onSubmit="JavaScript:Alert()">
            <div class="mb-3">
                <label for="type" class="form-label">Tipo de serviço</label>
                <select class="form-select" id="type" required>
                    <option selected disabled value="">Selecione</option>
                    <option value="1">Cortes de cabelo</option>
                    <option value="2">Tatuagem</option>
                </select>
                <label class="form-label" for="servico">Serviço</label> 
                <select class="form-select" id="servico" required onchange="JavaScript:Load(this.value)">
                    <!--Define as opções de serviços que podem ser escolhidos-->
                    <option selected disabled value="">Selecione</option>
                    <option value="1">Corte masculino</option>
                    <option value="2">Corte feminino</option>
                    <option value="3">Barba modelada</option>
                    <option value="4">Coloração</option>
                    <option value="5">Permanente</option>
                    <option value="6">Hidratação</option>
                    <option value="7">Manicure pacote</option>
                    <option value="8">Tatuagem</option>
                    <option value="9">Sobrancelhas</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="date">Selecione a data:</label>
                <input class="form-control" id="date" type="date" required> 
            </div>
            <!--define a data com calendário-->
            <div>
                <label class="form-label" for="appt">Selecione o horário:</label>
                <input class="form-control" type="time" id="appt" min="07:00" max="21:00" required>
            </div>
            <!--define os horários definidos pelo contratador-->     
            <input class="btn btn-primary mt-3" type="submit" value="Enviar">
            <!--envia as informações-->
        </form>
    </div>
    
    <div class="d-md-flex justify-content-evenly align-items-center">
        <div id="replace" class="mt-2 mx-5">
            
        </div>
        <div id="description" class="visually-hidden">
            Futura descrição do produto: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt feugiat mi, et euismod ex feugiat vitae. Sed sed tellus ultrices, placerat velit at, semper nisi. Duis nisi orci, tempor auctor elit et, maximus ultricies neque. Proin accumsan magna enim, ac fermentum enim vehicula vel. Pellentesque habitant morbi tristique senectus.
        </div>
    </div>

    {% if user.is_authenticated %}
    <div id="logout">
        <a href="{% url 'sair' %}">Sair</a>
    </div>
    {% endif %}

    <!-- Exibe o card correspondente ao serviço selecionado e remove seus atributos de âncora -->
    <script>
        function Alert() {
            alert('Agendamento efetuado, obrigado por usar nosso serviço!');
        }
        function Load(id) {
            var id = id;
            $("#replace").load("servicos.html #card"+id);
            document.getElementById("description").setAttribute("class", "mt-5");
            setTimeout(function Remove() {
                console.log("anchor"+id)
                let anchor = document.getElementById("anchor"+id);
                anchor.removeAttribute("data-bs-toggle");
                anchor.removeAttribute("data-bs-target");
                anchor.removeAttribute("onClick");
                }, 100)
        }
    </script>
{% endblock %}