{% extends "client/template.html" %}
{% load crispy_forms_tags %}

{% block head %}
    <title>Registro</title>
{% endblock %}

{% block content %}
    <!--Informações para cadastro-->
    <div id="back" class="d-md-flex flex-row align-items-center justify-content-between">
        <div class="m-5" id="register-container">
            <h1>Cadastro</h1>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ signup|crispy }}
                <input class="btn btn-primary" name = "reg" type="submit" value="Cadastrar-se">
            </form>
        </div>
        
        <div class="m-5" id="login-container">
            <h1>Entrar</h1>
            <form method="POST" class="post-form">{% csrf_token %} <!--formulário que pede as informações para o login-->
                {{ credentials|crispy }}
                <input class="btn btn-primary" name = "log" type="submit" value="Entrar">
            </form>
        </div>
    </div>
    <script>
        function Alert() {
            alert('Que pena, boa sorte pra lembrar!');
        }
    </script>
{% endblock %}