{% extends "user/template.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <title>Ajustes</title>
{% endblock %}

{% block content %}
<!-- Cards com âncoras "esticadas" por toda sua extensão, que abrem modals -->
    <section class="p-5">
        <div id="teste" class="container">
            <div class="row text-center">
                <div class="col-lg">
                    <div class="card bg-dark text-light card-custom card-settings m-3 pb-2">
                        <div class="card-body text-center">
                            <i class="bi bi-person-circle huge"></i>
                        </div>
                        <div class="card-title text-center">
                            <h3>
                                <a href="#" class="stretched-link" data-bs-toggle="modal" data-bs-target="#dados">Alterar informações de cadastro</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="card bg-dark text-light card-custom card-settings m-3 pb-2">
                        <div class="card-body text-center">
                            <i class="bi bi-palette huge"></i>
                        </div>
                        <div class="card-title text-center">
                            <h3>
                                <a href="#" class="stretched-link" data-bs-toggle="modal" data-bs-target="#aparencia">Alterar aparência</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="card bg-dark text-light card-custom card-settings m-3 pb-2">
                        <div class="card-body text-center">
                            <i class="bi bi-gear huge"></i>
                        </div>
                        <div class="card-title text-center">
                            <h3>
                                <a href="#" class="stretched-link" data-bs-toggle="modal" data-bs-target="#privacidade">Alterar configurações de privacidade</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Modals usados para alterar dados do usuário -->
    <div class="modal fade" id="dados" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Alterar informações</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" class="post-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-flex flex-row justify-content-between">
                            <a type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete" data-bs-dismiss="modal">Apagar conta</a>
                            <input class="btn btn-primary" name = "change" type="submit" value="Salvar alterações">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Excluir sua conta de usuário?</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" class="post-form">
                        {% csrf_token %}
                        <div class="d-flex flex-row justify-content-between">
                            <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cancelar">Cancelar</button>
                            <input class="btn btn-danger" name="delete_user" type="submit" value="Apagar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="aparencia" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Aparência</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="switch">
                        <label class="form-check-label" for="switch">Ativar nada</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="privacidade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Privacidade</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="switch2" checked disabled>
                        <label class="form-check-label" for="switch2">Permitir a venda de todos os seus dados pessoais</label>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Accordion que algum dia terá perguntas de verdade -->
    <section class='p-5'>
        <div class="container">
            <h2 class="text-center mb-4">Perguntas frequentes</h2>
            <div class="accordion" id="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Q1">
                        Como eu faço pra terminar esse trabalho a tempo?
                        </button>
                    </h2>
                    <div id="Q1" class="accordion-collapse collapse" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            <strong>Você não termina.</strong> Boa sorte pra conseguir usar um milhão de classes enquanto confere se já usou todos os recursos exigidos.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Q2">
                        Por que nada funciona de primeira?
                        </button>
                    </h2>
                    <div id="Q2" class="accordion-collapse collapse" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            <strong>Ninguém sabe.</strong> Mesmo copiando exemplos prontos, eles não funcionam de primeira nem por milagre, talvez seja alguma maldição.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Q3">
                        Como eu defino um padrão pra nomear classes e ids?
                        </button>
                    </h2>
                    <div id="Q3" class="accordion-collapse collapse" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            Se esforce para definir algo que faça sentido, como <code>nome-atributo</code> e perceba algum tempo depois que isso tem um defeito fatal ou conflito, então comece a usar um novo padrão e esqueça do anterior, tornando seu código uma porcaria.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if modal %}
    <script>
        var modal = new bootstrap.Modal(document.getElementById('dados'), {})
        modal.toggle()
    </script>
    {% endif %}
{% endblock %}