{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top py-3">
<!-- Barra de navegação de fundo escuro fixa no topo da tela -->
    <div class="container-fluid">
        <button class="navbar-toggler mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#toggler">
        <!-- Botão para "colapsar" os itens de navegação em um botão em telas menores -->
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand p-0" href="{% url 'inicio' %}">
            <img id="logo" src="{% static 'imagens/marca_hostess2.png' %}" class="d-block img-fluid" alt="...">
        </a>
        <div class="collapse navbar-collapse" id="toggler">
            <ul class="navbar-nav ms-auto mb-0 mt-1 mx-4">
                <!-- Distancia os itens e os alinha à direita -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">Início</a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="{% url 'inicio' %}">Usuário</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'entrar' %}">Cliente</a></li>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'negocio' %}" class="nav-link">Negócio</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'agenda' %}" class="nav-link">Agenda</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'ajustes' %}" class="nav-link">Ajustes</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'relatorios' %}" class="nav-link">Relatórios</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'servicos' %}" class="nav-link">Serviços</a>
                </li>
                <li>
                    <a href="{% url 'inicio_trabalho' %}" class="nav-link">Trabalho</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">{{ user.first_name }}</a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                        <li><a class="dropdown-item" href="{% url 'ajustes' %}">Informações</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#sair">Sair</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="sair" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sair</h4>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <h5>Tem certeza?</h5>
                <div class="d-flex flex-row justify-content-between">
                    <a type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cancelar</a>
                    <a type="button" class="btn btn-danger" href="{% url 'sair' %}">Sair</a>
                </div>
            </div>
        </div>
    </div>
</div>