{% extends "user/template.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <title>Negócio</title>
{% endblock %}
	
{% block content %}
	<section class="bg-dark text-light p-5 text-center">
    <!-- Fundo escuro e texto claro -->
        <div class="container">
            <div class="d-md-flex flex-row align-items-center justify-content-between">
            <!-- Posiciona os elementos lado a lado -->
                <div>
                    <h1>Gerenciar negócio</h1>
                    <p class="lead my-3">Bem-vindo(a), {{ user.first_name }},
					{% if condition == 'owner' %} veja todos os colaboradores do negócio e os gerencie.</p>{% endif %}
					{% if condition == 'worker' %} aqui você vê as informações de todos os colaboradores.</p>{% endif %}
					{% if condition == 'free' %} aqui você verá convites para participar de negócios e poderá registrar o seu.</p>{% endif %}
                </div>
                <img class="img-fluid d-none d-md-block mx-5 size-small" src="{% static 'imagens/business.svg' %}" alt="Alguma coisa" />
                <!-- Faz com que a imagem não apareça em telas menores -->
            </div>
        </div>
    </section>
	
	<!-- Botão que aciona o modal de adicionar colaboradores -->
	{% if condition == 'owner' %}
	<div class="d-grid gap-2 col-6 mx-auto mt-3">
		<button data-bs-toggle="modal" data-bs-target="#add" class="btn btn-secondary mb-3">Adicionar Colaboradores</button>
		<div class="modal fade" id="add" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Adicionar colaboradores</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
					</div>
					<div class="modal-body">
						<form method="POST" class="post-form">
							{% csrf_token %}
							{{ business|crispy }}
							<div class="float-end">
								<input class="btn btn-primary" name = "add" type="submit" value="Adicionar">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if invites %}
	<table class="table colab mx-4 mt-2 mb-5">
		<thead>
			<tr>
				<th scope="col">Nome do convidado</th>
				<th scope="col">E-mail</th>
			</tr>
		</thead>
	<tbody>
	{% for user in invites %}
			<tr>
				<td>{{ user.first_name }} {{ user.last_name }}</td>
				<td>{{ user }}</td>
			</tr>
	{% endfor %}
		</tbody>
	</table>
	{% endif %}
	{% endif %}

	{% if condition == 'free' %}
		<div class="d-grid mx-auto w-25 m-2">
			<button class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#business">Registrar negócio</button>
		</div>

		{% if invites %}
			<table class="table table-hover colab mx-4">
				<thead>
					<tr>
						<th scope="col">Negócio</th>
						<th scope="col">Dono</th>
						<th scope="col">E-mail</th>
					</tr>
				</thead>
				<tbody>
				{% for business in invites %}
					<tr class="action-row" onclick="JavaScript:Modal('{{ business.pk }}')">
						<td>{{ business }}</td>
						<td>{{ business.ceo.first_name }} {{ business.ceo.last_name }}</td>
						<td>{{ business.ceo.email }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		{% endif %}

		<div class="modal fade" id="business" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Registrar seu negócio</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
					</div>
					<div class="modal-body">
						<form method="POST" class="post-form">
							{% csrf_token %}
							{{ business|crispy }}
							<div class="float-end">
								<input class="btn btn-primary" name = "bus" type="submit" value="Registrar">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		{% for business in invites %}
			<div class="modal fade" id="{{ business.pk }}" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Deseja aceitar o convite de {{ business }}?</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
					</div>
					<div class="modal-body mt-5">
						<form method="POST" class="post-form">
						{% csrf_token %}
							<input type="hidden" value="{{ business.pk }}" name="id">
							<div class="d-flex flex-row justify-content-between">
								<input class="btn btn-primary" name="accept" type="submit" value="Aceitar">
								<input class="btn btn-danger" name="decline" type="submit" value="Recusar">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	{% endif %}

	{% if condition != 'free' %}
	<!-- Tabela para mostrar os colaboradores -->
	<table class="table colab mx-4">

		<!-- Head da tabela, colunas -->
		<thead>
			<tr>
				<th scope="col">Colaborador</th>
				<th scope="col">E-mail</th>
			</tr>
		</thead>

		<!-- Body da tabela, linhas -->
		<tbody>
			<!-- Linhas: imagem, nome e email -->
			<tr>
				<td><img src="{% static 'imagens/a1.jpg' %}" alt="Imagem" height="70" width="70" class="mx-4"/>Margarida Carrilha</td>
				<td>margaridac12@email.com</td>
			</tr>
			<tr>
				<td><img src="{% static 'imagens/a2.jpg' %}" alt="Imagem" height="70" width="70" class="mx-4"/>Alexandro Matias</td>
				<td>alexandromat90@email.com</td>
			</tr>
			<tr>
				<td><img src="{% static 'imagens/a3.jpg' %}" alt="Imagem" height="70" width="70" class="mx-4"/>Angelo Gaspar</td>
				<td>angelogpr3453@email.com</td>
			</tr>
			<tr>
				<td><img src="{% static 'imagens/a4.jpg' %}" alt="Imagem" height="70" width="70" class="mx-4"/>Leila Quintana</td>
				<td>leilaquintana@email.com</td>
			</tr>
			<tr>
				<td><img src="{% static 'imagens/a5.jpg' %}" alt="Imagem" height="70" width="70" class="mx-4"/>Mayra Durães Vieira</td>
				<td>mayradvieira@email.com</td>
			</tr>
		</tbody>
	</table>
	{% endif %}

	{% if modal %}
	<script>
        var modal = new bootstrap.Modal(document.getElementById('{{ modal }}'), {})
        modal.toggle()
	</script>
    {% endif %}
	<script>
		function Modal(id) {
				let modal = new bootstrap.Modal(document.getElementById(id), {})
				modal.toggle()
			}
	</script>
{% endblock %}