{% extends "user/template.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <title>Relatórios</title>
{% endblock %}

{% block content %}
    <section class="bg-dark text-light p-5 text-center mt-5">
        <div class="container">
            <div class="row align-items-center justify-content-around">
            <!-- Posiciona texto no mesmo alinhamento que a imagem -->
                <div class="col-md-6 col-lg-6">
                    <h1>Ganhos</h1>
                    <p class="lead my-3">Avalie seus levantamentos financeiros atualizados toda semana.</p>
                </div>
                <div class="col-md-6 col-lg-6">
                    <!-- Adiciona imagens de exemplo com cor de fundo a ser definida e bordas para destaque -->
                    <img class="img-fluid d-block mx-auto imagens rounded-1 border border-4 border-secondary" src="{% static 'imagens/graph_gains.svg' %}" alt="Alguma coisa"/>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-dark text-light p-5 text-center mt-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
            <!-- Posiciona texto no mesmo alinhamento que a imagem -->
                <div class="col-md-6 col-lg-6">
                    <h1>Serviços</h1>
                    <p class="lead my-3">Analise quais os serviços mais desejados do seu negócio.</p>
                </div>
                <div class="col-md-6 col-lg-6">
                    <!-- Adiciona imagens de exemplo com cor de fundo a ser definida e bordas para destaque -->
                    <img class="img-fluid d-block mx-auto imagens rounded-1 border border-4 border-secondary" src="{% static 'imagens/graph_services.png' %}" alt="Alguma coisa"/>
                    
                </div>
            </div>
        </div>
    </section>
    <section class="bg-dark text-light p-5 text-center mt-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
            <!-- Posiciona texto no mesmo alinhamento que a imagem -->
                <div class="col-md-6 col-lg-6">
                    <h1>Agendamentos</h1>
                    <p class="lead my-3">Verique o número de clientes nessa semana.</p>
                </div>
                <div class="col-md-6 col-lg-6">
                    <!-- Adiciona imagens de exemplo com cor de fundo a ser definida e bordas para destaque -->
                    <img class="img-fluid d-block mx-auto imagens rounded-1 border border-4 border-secondary" src="{% static 'imagens/graph_clients.png' %}" alt="Alguma coisa"/>
                </div>
            </div>
        </div>
    </section>
{% endblock %}